# Задание по программированию: Предобработка данных в Pandas

## Материалы
Набор данных взят с сайта Kaggle: Titanic: Machine Learning from Disaster.

<a href="https://bitbucket.org/hrojas/learn-pandas">Уроки по Pandas</a> 

## Инструкция по выполнению
Загрузите датасет titanic.csv и, используя описанные выше способы работы с данными, найдите ответы на вопросы

<a href="https://d3c33hcgiwev3.cloudfront.net/_ea07570741a3ec966e284208f588e50e_titanic.csv?Expires=1514505600&Signature=laNURyz8C5l-SJWJQdqClfh2hszCFXFC8NcJHK~Pfz73CPGGP8Gr4FUwbGt3-8vXkaYsyadusAeechFUexIpTCrsSezIJ3EwHBZ9Pt5~2dZ2E8eaUYkEPkeCObZuBck7cvjvIGvqNvjyFVCrBaZsqgCj7velDfGi1JujF4zNIj4_&Key-Pair-Id=APKAJLTNE6QMUY6HBC5A">titanic.csv</a>

1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.
2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.
3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.
4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.
4. Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.
5. Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

Если ответом является нецелое число, то целую и дробную часть необходимо разграничивать точкой, например, 0.42. При необходимости округляйте дробную часть до двух знаков.

Ответ на каждое задание — текстовый файл, содержащий ответ в первой строчке. Обратите внимание, что отправляемые файлы _не_ должны содержать перевод строки в конце. Данный нюанс является ограничением платформы Coursera. Мы работаем над тем, чтобы убрать это ограничение.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/titanic.csv', index_col='PassengerId')

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

Функция для записи ответов:

In [19]:
def write_answer(name, answer):
    with open('data/' + name, 'w') as file:
        file.write(answer)

### 1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [18]:
sex_counts = data['Sex'].value_counts()
sex_counts

male      577
female    314
Name: Sex, dtype: int64

In [20]:
write_answer('answer1.txt', ' '.join(sex_counts.values.astype(str)))

### 2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [8]:
proportion_surved = round(data.Survived.sum() / len(data) * 100, 2)
proportion_surved

38.38

In [9]:
write_answer('answer2.txt', str(proportion_surved))

### 3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [10]:
write_answer('answer3.txt', str(round(sum(data['Pclass'] == 1) / len(data) * 100, 2)))

### 4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [11]:
write_answer('answer4.txt', str(round(data['Age'].mean(), 2)) + ' ' + str(round(data['Age'].median(), 2)))

### 5. Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [12]:
write_answer('answer5.txt', str(round(data[['SibSp', 'Parch']].corr().values[0, 1], 2)))

### 6. Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name).

Правило, которое удалось обнаружить для "вытаскивания" женского имени.   
Если женщина незамужняя, то имя идет третьим словом. А если женщина замужняя, то сначала идет имя мужа, а затем в скобках первым словом идет имя жены.   
Вот это правило и реализуем.

In [13]:
female_name_sorted = data['Name'][data['Sex'] == 'female'].apply(lambda s: s.split(' ')[2] if '(' not in s 
                                                              else s.split('(')[1].split(' ')[0]).value_counts()
                    
female_name_sorted.head()

Anna         14
Mary         13
Elizabeth    11
Margaret     10
Alice         6
Name: Name, dtype: int64

In [14]:
write_answer('answer6.txt', female_name_sorted.index[0])

другой способ записи в файл:

In [15]:
pop_female_name = female_name_sorted.index[0]

In [16]:
echo $pop_female_name > data/answer6_1.txt

In [17]:
# проверка второй части правила
'Futrelle, Mrs. Jacques Heath (Lily May Peel)'.split('(')[1].split(' ')[0]

'Lily'